<title>Tracking</title>
<div class="page-body">
<app-card>

    <form class="md-float-material" name="form" (ngSubmit)="getList()" ngNativeValidate >
   <div class="row">
          <div class="col-md-3">

                  <!--   <ng-select placeholder="Please Select Report Type" name=report_type [items]=reports bindLabel="name" bindValue=alias [(ngModel)]="model.report_type">

                         </ng-select>
                         <br>-->
                         <ng-select  name="searchquserf" bindValue="id" bindLabel="name"  [items]="tempusers"
                         placeholder="Select User"
                      [(ngModel)]="model.user_id" (clear)="model.user_id=''"    >
                        </ng-select>

                    <div><span *ngIf="usergpsdata">
                      <br>
                        <span title="Users"> <i class="ti-user"></i> {{usergpsdata.length}} </span>
                        <!-- <span *ngIf="usergpsdata[0]?.gpsdistance">
                           <span style="color:gray">|</span> Distance : {{usergpsdata[0]?.gpsdistance}} Km</span>
                           -->
                        </span>
                      </div>

                <!-- <select class="form-control" name=report_type required [(ngModel)]="model.report_type">


                     <option *ngFor="let report of reports" [value]="report?.alias"> {{report?.name}} </option>
                </select>-->



         <!--        <br>

              <ng-select  name="searchqbranchf" bindValue="id" bindLabel="name"  [items]="branches"
              placeholder="Select Branch"
           [(ngModel)]="model.branch_id"    >
             </ng-select>  -->

          <!--    <br>

              <ng-select  name="searchqlcat" bindValue="id" bindLabel="displayname"  [items]="lcats"
              placeholder="Select License Category"
           [(ngModel)]="model.lcat_id"   >
             </ng-select>

             <br>

              <ng-select  name="searchqltype" bindValue="id" bindLabel="name"  [items]="[{id:'new',name:'New'},{id:'renew',name:'Renew'}]"
              placeholder="Select New/Renew"
           [(ngModel)]="model.ltype" >
             </ng-select>
            -->


               </div>

       <div class="col-md-3">
            <input class="form-control" name="start_date" type="datetime-local" required placeholder="From Date" [(ngModel)]="model.start_date">

             <!-- <br>

             <ng-select  name="searchqregionf"   [items]="['ALL','NORTH','EAST','WEST','SOUTH']"
             placeholder="Select Region" (change)="model.user_id='';filterusers()"
          [(ngModel)]="model.region"  (clear)="model.region='All';filterusers()">
            </ng-select> -->




          </div>
       <div class="col-md-3">
            <input class="form-control" name="end_date" type="datetime-local" required placeholder="To Date" [(ngModel)]="model.end_date">

      <!-- <br>
      <ng-select *ngIf="model.report_type!='allcollection'"   name="searchqf"   [items]="['All','Pending','Paid','Draft','Cancelled']" placeholder="Select Filter"
                [(ngModel)]="model.status"   (clear)="model.status='All'">
                 </ng-select>
                -->


          </div>

        <div class="col-md-3">

   <!--         <input type="hidden" name=report_type [(ngModel)]="model.report_type" value='tallyinvoice'> -->
            <button class="btn btn-primary" type="submit">Refresh Map  <img *ngIf="loading" width=20px src="/assets/loaderwhite.png" /></button>
       </div>
   </div>
 
    </form>
 <hr>
 <!-- <ng-container *ngIf="usergpsdata && !loading">
    <agm-map #gm [fullscreenControl]='true' [mapTypeControl]='true' [zoom]="6" [latitude]="1*usergpsdata[0].gpsdata.lat" [longitude]="1*usergpsdata[0].gpsdata.lon" style="height:500px">
      <ng-container *ngFor="let ugd of usergpsdata">

       
      <ng-container *ngIf="ugd.userleads">
          <agm-marker  *ngFor="let sgd of ugd.userleads" [latitude]="sgd.lat" [longitude]="sgd.lon" [iconUrl]="'/assets/map/lead.png'">
            <agm-info-window><h4 style="font-size:large"><small>Lead #{{sgd.id}}</small><br>{{sgd.cname}}</h4><hr>
             <b>{{sgd.lead_status_name}}</b><br>
              Executive : {{sgd.uname}}<br>

              Created On : {{sgd.created_on|date:'medium'}}</agm-info-window>

          </agm-marker>
        </ng-container>



       
      <ng-container *ngIf="ugd.userpis">
        <agm-marker  *ngFor="let sgd of ugd.userpis" [latitude]="sgd.lat" [longitude]="sgd.lon" [iconUrl]="'/assets/map/lead.png'">
          <agm-info-window><h4 style="font-size:large"> <a target=_blank  href="{{commonService.apiUrl}}/pg/?id={{sgd.qid}}&invoice=2"><small>Proforma Invoice ID #{{sgd.qid}}</small></a><br>{{sgd?.customer_name}}</h4><hr>
            Executive : {{ugd.name}}-{{ugd.region}}<br>
            Created On : {{sgd.created_on|date:'medium'}}</agm-info-window>

        </agm-marker>
      </ng-container>

      
      <agm-marker  [latitude]="ugd.gpsdata.lat" [longitude]="ugd.gpsdata.lon"  [label]="{color:'#FFFFFF',text:ugd.shortname}" [iconUrl]="'/assets/map/usermarker.png'" [title]="ugd.name" >
         <agm-info-window><h4 style="font-size:large">{{ugd.name}} - {{ugd.region}}</h4><hr>
        <span title="(Within Specified Date Range)"> Total Distance : {{ugd?.gpsdistance}} Km <br></span>
          Last Updated : {{ugd.gpsdata.created_on|date:'medium'}}</agm-info-window>
      </agm-marker>
    
        <ng-container *ngIf="ugd.gpsdatapoints">
        <agm-marker (mouseOver)="onMouseOver(infoWindowsgd,gm)" *ngFor="let sgd of ugd.gpsdatapoints" [latitude]="sgd.lat" [longitude]="sgd.lon" [iconUrl]="'/assets/map/singlegdpoint.png'">
          <agm-info-window #infoWindowsgd><h4 style="font-size:large">{{ugd.name}} - {{ugd.region}}</h4><hr> TimeStamp : {{sgd.created_on|date:'medium'}}</agm-info-window>

        </agm-marker>

        <agm-polyline [strokeColor]="'#0E71F3'" >

          <ng-container  *ngFor="let sgd of ugd.gpsdatapoints">
              <agm-polyline-point [latitude]="sgd.lat*1" [longitude]="sgd.lon*1" >
                </agm-polyline-point>
          </ng-container>

            </agm-polyline>

      </ng-container>




    </ng-container>

    </agm-map>

   
    <agm-map #gm [fullscreenControl]='true' [mapTypeControl]='true' [zoom]="6" [latitude]="1*usergpsdata[0]?.gpsdata?.lat" [longitude]="1*usergpsdata[0]?.gpsdata?.lon" style="height:500px">
      <agm-marker *ngFor="let ugd of usergpsdata" [latitude]="1*ugd.gpsdata?.lat" [longitude]="1*ugd.gpsdata?.lon">
       
        <agm-info-window>
          <h4>{{ ugd.name }}</h4>
          <p>Region: {{ ugd.region }}</p>
          
        </agm-info-window>
      </agm-marker>
    </agm-map>
    
  </ng-container> -->

  </app-card>
  <div class="map">
    <google-map height="100vh"
                width="100%"
                [options]="mapOptions">
      <map-marker *ngFor="let marker of markers"
                  [position]="marker.position"></map-marker>
    </google-map>
  </div>
</div>
