<div class="container mt-3">

    <div class="form-row">
        <!-- "Create PI" button in col-3 -->
        <div class="col-2">
          <button class="btn btn-custom create-pi-button btn-primary" >Create PI</button>
        </div>
      
        <!-- "ng-select-row" in col-6 -->
        <div class="col-3 mb-2 ng-select-row">
          <ng-select class="ngselectinput" name="searchqsubregionf" [items]="region_ids" bindValue="id" bindLabel="displayname"
            placeholder="Select Region(New method)" [(ngModel)]="searchqsubregionf" (change)="search()" (clear)="search()">
          </ng-select>
      
          <ng-select  class=" ngselectinput" name="searchqf" [items]="['All','Pending','Paid','Draft','Cancelled']"
            placeholder="Select Status" [(ngModel)]="searchqf" (change)="search()" (clear)="search()">
          </ng-select>
          
          <ng-select class="ngselectinput"name="searchqextnd" [items]="['Yes','No']" autocomplete="off"
            placeholder="Select Extended PI's" [(ngModel)]="searchqextnd" (change)="search()" (clear)="search()">
          </ng-select>
        </div>
      
        <!-- Additional "ng-select-row" in col-6 -->
        <div class="col-3 mb-2 ng-select-row">
          <ng-select class="ngselectinput" name="searchqf" [items]="['All','Approved','Pending for approval','Rejected']"
            placeholder="Select Status" [(ngModel)]="searchqf" (change)="search()" (clear)="search()">
          </ng-select>
          
      
          <ng-select class="ngselectinput" name="searchqevidence" [items]="['All','Yes','No']"
            placeholder="Select evidence PI's" [(ngModel)]="searchqevidence" (change)="search()" (clear)="search()">
          </ng-select>
        </div>
      <br>
        <!-- Search field in col-3 -->
        <div class="col-2 search-container">
          <input type="text" class="searchquotation" placeholder="Search" [(ngModel)]="searchText" (input)="onSearch()">
        </div>
      
        <!-- Add your "Create PI" button here -->
      </div>
      
      

      
    <ngx-datatable
      #table
      class="data-table"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="55"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [scrollbarH]="true"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [rows]="data">
  
      <!-- ngx-datatable-header with search bar -->
  
      <ngx-datatable-column name="Lead Id" [flexGrow]="1" [minWidth]="120">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.lead_id}}
        </ng-template>
      </ngx-datatable-column>
      
  
      <ngx-datatable-column name="Customer / Assigned to" [flexGrow]="1.3" [minWidth]="300">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row?.lead_id > 0"> Lead Id #{{ row?.lead_id }} : <b>{{ row?.lead?.lead_status_name }}</b></span>
          <br>
          <!-- <a [routerLink]="['/quotation/view/' + row.id + '/' + row.uuid]" *ngIf="authService.checkPermission(2) || authService.checkPermission(3)"> -->
            <!-- <b>{{ row.customer.name }}</b> -->
          <!-- </a> -->
          <br>
          <small *ngIf="row.customer.franchise"> Franchise Name : {{ row?.customer?.franchise }} <br> </small>
  
          <a *ngIf="!authService.checkPermission(2) && !authService.checkPermission(3)">
            <b>{{ row.customer.name }}</b>
            <br>
          </a>
  
          <small> {{ row.user.name }} - {{ row.user.role.name }} <br></small>
          <small *ngIf="row.user.region">Region (Old method): {{ row?.user.region }} <br></small>
          <small *ngIf="row.region_name">Region (New method): {{ row?.region_name }} <br></small>
  
          <small> Last Updated : {{ row.updated_on | date: 'd/M/y H:m' }} <br> </small>
  
          <small>
            <span *ngIf="row.user.id !== row.createdby_user.id || true">
              Created by {{ row.createdby_user.name }} -
              {{ row.createdby_user.role.name }} - {{ row.createdby_user.region }} - On
              {{ row.created_on | date: 'd/M/y H:m' }}
            </span>
          </small>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [flexGrow]="1" [minWidth]="120">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.id}}
        </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
    
    
  </div>
  