<!-- <mat-nav-list>
    <a mat-list-item class="custom-list-item" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item class="custom-list-item" routerLink="/user">Users</a>
    <a mat-list-item class="custom-list-item"  routerLink="/lead">Leads</a>
    <a mat-list-item class="custom-list-item"  routerLink="/customer">Customers</a>
    <a mat-list-item class="custom-list-item"  routerLink="/city">Cities</a>
    <a mat-list-item class="custom-list-item"  routerLink="/metamaster">Meta Master</a>
    <a mat-list-item class="custom-list-item"  routerLink="/branch">Local Fac.Center</a>
    <a mat-list-item class="custom-list-item"  routerLink="/role">Roles</a><br>
    <a mat-list-item class="custom-list-item"  routerLink="/proformainvoices">Proforma Invoices</a>
    <a mat-list-item class="custom-list-item"  routerLink="/licenses">Licenses</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Credit Notes</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Transaction/Receipts</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Discount Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Advance TI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">PI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">NOC Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Customer PAN Requests</a>
    <a mat-list-item class="custom-list-item" routerLink="/creditnotes">Envoice CT log</a>
    <a mat-list-item class="custom-list-item" routerLink="/creditnotes">Reports</a>
  </mat-nav-list> -->
  
  
    <mat-nav-list>
      <div class="fistlist">

        <ul class="list">
          <li><a routerLink="/dashboard" class="list">Dashboard</a></li>
          <li><a routerLink="/user" class="list">User</a></li>
          <li><a  class="list" routerLink="/lead">Leads</a></li>
          <li><a routerLink="/customer" class="list">Customers</a></li>
          <li><a routerLink="/city" class="list">Cities</a></li>
          <li><a routerLink="/metamaster" class="list">Meta Master</a></li>
          <li><a routerLink="/branch" class="list">Local fac. Centers</a></li>
          <li><a routerLink="/role" class="list">Roles</a></li>
          <li><a routerLink="/setting" class="list">Settings</a></li>
        </ul>
      </div>

      <div class="secondlist">
        <ul class="list">
          <li><a routerLink="/proformainvoices" class="list">Porforma Invoice</a></li>
          <li><a routerLink="/licenses" class="list">License</a></li>
          <li><a routerLink="/creditnotes" class="list">Credit Notes</a></li>
          <li><a routerLink="/transactions" class="list">Transactions/Receipts</a></li>
          <li><a routerLink="/bank" class="list">Bank Statement</a></li>
          <li><a routerLink="/refund" class="list">Refund Transactions</a></li>
          <li><a routerLink="/discount" class="list">Discount Request</a></li>
          <li><a routerLink="/advance-ti" class="list">Advance TI Request</a></li>
          <li><a routerLink="/" class="list">PI Request</a></li>
          <li><a routerLink="/noc" class="list">NOC Request</a></li>
          <li><a routerLink="/customer-PAN" class="list">Customer PAN Requets</a></li>
          <li><a routerLink="/envoice" class="list">Envoice CT log</a></li>
          <li><a routerLink="/reports" class="list">Reports</a></li>
          <li><a routerLink="/D2C" class="list">D2C</a></li>
        </ul>
      </div>
      <div class="underline-div"></div>
      <div class="foot-sidenav">
        <div>
          <h4>For Technical Support :</h4>
        </div>
        <div>
          <h4>Mail : supportmobify.bz</h4>
        </div>
      </div>

    </mat-nav-list>