<mat-nav-list>
    <a mat-list-item class="custom-list-item" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item class="custom-list-item" routerLink="/user">Users</a>
    <a mat-list-item class="custom-list-item"  routerLink="/lead">Leads</a>
    <a mat-list-item class="custom-list-item"  routerLink="/customer">Customers</a>
    <a mat-list-item class="custom-list-item"  routerLink="/city">Cities</a>
    <a mat-list-item class="custom-list-item"  routerLink="/metamaster">Meta Master</a>
    <a mat-list-item class="custom-list-item"  routerLink="/branch">Local Fac.Center</a>
    <a mat-list-item class="custom-list-item"  routerLink="/role">Roles</a><br>
    <a mat-list-item class="custom-list-item"  routerLink="/proformainvoices">Proforma Invoices</a>
    <a mat-list-item class="custom-list-item"  routerLink="/licenses">Licenses</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Credit Notes</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Transaction/Receipts</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Discount Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Advance TI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">PI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">NOC Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnotes">Customer PAN Requests</a>
    <a mat-list-item class="custom-list-item" routerLink="/creditnotes">Envoice CT log</a>
    <a mat-list-item class="custom-list-item" routerLink="/creditnotes">Reports</a>






  </mat-nav-list>
  
  
  