<mat-nav-list>
    <a mat-list-item class="custom-list-item" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item class="custom-list-item" routerLink="/user/list">Users</a>
    <a mat-list-item class="custom-list-item"  routerLink="/lead">Leads</a>
    <a mat-list-item class="custom-list-item"  routerLink="/customer/list">Customers</a>
    <a mat-list-item class="custom-list-item"  routerLink="/city">Cities</a>
    <a mat-list-item class="custom-list-item"  routerLink="/metamaster">Meta Master</a>
    <a mat-list-item class="custom-list-item"  routerLink="/branch/list">Local Fac.Center</a>
    <a mat-list-item class="custom-list-item"  routerLink="/role">Roles</a><br>
    <a mat-list-item class="custom-list-item"  routerLink="/quotation">Proforma Invoices</a>
    <a mat-list-item class="custom-list-item"  routerLink="/license">license</a>
    <a mat-list-item class="custom-list-item"  routerLink="/creditnote">Credit Notes</a>
    <a mat-list-item class="custom-list-item"  routerLink="/transaction/list">Transaction/Receipts</a>
    <a mat-list-item class="custom-list-item"  routerLink="/transaction/bankstatement">Bank Statement</a>
    <a mat-list-item class="custom-list-item"  routerLink="/transaction/returntransactions">Refund transactions</a>
    <a mat-list-item class="custom-list-item"  routerLink="/quotation/dr/dr">Discount requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/quotation/dr/atir">Advance TI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/quotation/dr/pir">PI Requests</a>
    <a mat-list-item class="custom-list-item"  routerLink="/quotation/dr/noc">NOC Requests</a>
    <a mat-list-item class="custom-list-item" routerLink="/quotation/dr/cpn">Customer PAN requests</a>
    <a mat-list-item class="custom-list-item" routerLink="/einvoicect">Einvoicect</a>
    <a mat-list-item class="custom-list-item" routerLink="/report">Reports</a>
    <a mat-list-item class="custom-list-item" routerLink="/tracking">tracking</a>
    <a mat-list-item class="custom-list-item" routerLink="/leadstatus">Lead Status</a>


  </mat-nav-list>
  
  
  