@import "~bootstrap/dist/css/bootstrap.css";
.src{
    overflow: auto;
    height: 400px;
}

:host ::ng-deep.datatable-scroll{
  width: fit-content!important;
}

  :host ::ng-deep.datatable-body-row{
    width: 100%!important;
  }

  @media screen and (max-width: 768px){
    .datatable-scroll{
      width: fit-content!important;
    }
  }
    @media screen and (max-width: 768px)
    {
       .datatable-body-row{width: 100%!important;
      }
      .data-table{
        overflow-x: hidden !important;
       }

    }
