<div class="container mt-3">
    <div class="search-container">
      <input type="text" placeholder="Search Lead Id" (input)="onSearch()">
      <button class="addbtn btn btn1 btn-sm btn-primary" (click)="openModal()">Add City</button><br>
    </div><br>
    <ngx-datatable *ngIf="!loading" #table class="data-table" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="55"
      [rowHeight]="'auto'" [externalPaging]="true" [scrollbarH]="true" [count]="page.count" [offset]="page.offset"
      [limit]="page.limit" [rows]="tabrows"> 
      <!-- Columns and Data Rows -->
      <ngx-datatable-column name="Id" [flexGrow]="1" [minWidth]="120">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="City Name" [flexGrow]="3" [minWidth]="361">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row?.name }}
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Class" [flexGrow]="3" [minWidth]="361">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row?.class }}
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="State" [flexGrow]="3" [minWidth]="361">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row?.state }} <br>
          <span *ngIf="row?.gstcode">GSTCODE: {{ row?.gstcode }}</span>
        </ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Action" [flexGrow]="1" [minWidth]="120">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="row">
            <div class="col-6">
              <a style="color: #6B05F9">
                <i class="ti-pencil"></i>
              </a>
            </div>
            <div class="col-6">
              <a *ngIf="authService.checkPermission(65)" style="color: red">
                <i class="ti-trash"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  
    <div class="modal" *ngIf="isOpen"> 
       <app-modal-animation [modalID]="'modaladdeditcity'">
        <div class="modal-content">
          <div class="app-modal-header"></div>
          <div class="app-modal-body src">
            <form ngNoForm>
              <div class="form-group">
                Name:<br>
                <input type="text" class="form-control" name="name" required [(ngModel)]="model.name"
                  placeholder="Enter City Name">
                <br>
                Select State: <br>
                <ng-select placeholder="Select State" name="state" required [(ngModel)]="model.state">
                </ng-select>
                <br>
                Select Class: <br>
                <ng-select placeholder="Select Class" name="class" [items]="['A','OTHER']" required
                  [(ngModel)]="model.class">
                </ng-select>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" (click)="closeModal()" class="btn btn-secondary f-right">Cancel</button>
                </div>
                <div class="col-6">
                  <a *ngIf="authService.checkPermission(65)" style="color: red">
                    <i class="ti-trash"></i>
                  </a>
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-primary waves-effect f-left">
                    <span *ngIf="model.id">Save Changes</span>
                    <span *ngIf="!model.id">Add City</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </app-modal-animation>
    </div>
  </div>
  <app-modal-animation   *ngIf="isOpen"  [modalID]="'modaladdeditcity'"    >
    <div class="app-modal-header">
      <h4 class="modal-title"><span >Edit '{{model?.name}}'</span>  <span >Add</span> City</h4>
    <!-- <button type="button" class="close basic-close" (click)="commonService.hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>  -->
     </div>
    <div class="app-modal-body" class="src">
        <form ngNativeValidate >

          <div class="form-group">
            Name :<br>
            <input type="text" class="form-control" name=name required [(ngModel)]="model.name" placeholder="Enter City Name">
            <br> 
            District :<br>
            <input type="text" class="form-control" name=district required [(ngModel)]="model.district" placeholder="Enter District Name">
            <br>
            GST Code :<br>
            <input type="text" class="form-control" name=gstcode required [(ngModel)]="model.gstcode" placeholder="Enter GST Code">
            <br> 
            Select State : <br>
            <ng-select placeholder="Select State" name="state" required bindLabel="state" bindValue="state" [items]="states" [(ngModel)]="model.state" >
            </ng-select>
            <br>
            Select Class : <br>
            <ng-select placeholder="Select Class" name="class" [items]="['A','OTHER']"  required bindLabel="class" bindValue="class"  [(ngModel)]="model.class" >
            </ng-select>
          </div>
          <div class="row">
            <div class="col-6 ">
              <button type="button" class="btn btn-secondary f-right" (click)="closeModal">Cancel</button>
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-primary waves-effect  f-left" >  <span *ngIf="model.id">Save Changes</span>  <span *ngIf="!model.id">Add City</span>  </button>
            </div>
          </div>
          </form>
    </div>

</app-modal-animation > 
