
<div class="container mt-3">
   <div class="search-container">
      <input type="text" placeholder="Search Lead Id" [(ngModel)]="searchText" (input)="onSearch()">
    </div>
   <ngx-datatable
       #table
       class="data-table"
       [columnMode]="'flex'"
       [headerHeight]="50"
       [footerHeight]="55"
       [rowHeight]="'auto'"
       [externalPaging]="true"
       [scrollbarH]="true"
       [count]="page.count"
       [offset]="page.offset"
       [limit]="page.limit"
       [rows]="leads">

       <!-- ngx-datatable-header with search bar -->
       

       <ngx-datatable-column name="Lead Id" [flexGrow]="1" [minWidth]="120">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row?.id}}
           </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Lead Owner" [flexGrow]="3" [minWidth]="261">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row?.user?.name}} -  {{row?.user?.role?.name}} <br>
               Region : <span *ngFor="let reg of row?.user?.region_ids_info"> {{ reg?.region_name}}, </span>
               <br>
               <small>CreatedOn: {{row?.created_on | date : 'd/M/y'}}<br>
               UpdatedOn: {{row?.updated_on | date : 'd/M/y'}}<br> </small>
           </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Lead Details" [flexGrow]="3" [minWidth]="361">
           <ng-template let-row="row" ngx-datatable-cell-template>
               <small>CustomerId# {{row?.customer?.id}}</small><br>
               <b>{{row?.customer?.name}}</b>  <br>
               <small>{{row?.customer?.address_line_1}},{{row?.customer?.address_line_2}}, {{row?.customer?.address_line_3}},<br>
               {{row?.customer?.city}} , {{row?.customer?.state}} ,{{row?.customer?.pincode}} </small>
               <span *ngIf="row?.remark"><br>Remark : {{row?.remark}}</span>
               <span *ngIf="row?.type"><br><b>Type : {{row?.type}}</b></span>
           </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Status /Source" [flexGrow]="3" [minWidth]="361">
           <ng-template let-row="row" ngx-datatable-cell-template>
               <span *ngIf="row?.customer?.approved == 1" style="color:green;font-weight:bold">Approved</span>
               <span *ngIf="row?.customer?.approved == '-1'" style="color:purple;font-weight:bold">Rejected</span>
               <span *ngIf="row?.customer?.approved == '0'" style="color:black">Pending Approval</span>
               <br>
               <span *ngIf="row?.customer?.src == 'app'" style="color:black">PALM</span>
               <span *ngIf="row?.customer?.src == 'web'" style="color:black">PLUS</span>
               <span *ngIf="row?.customer?.src == 'Whatsapp'" style="color:black">Whatsapp</span>
               <span *ngIf="row?.customer?.src == 'd2c'" style="color:black">D2C</span>
           </ng-template>
       </ngx-datatable-column>
   </ngx-datatable>
</div>

