<!-- <div class="container mt-3">

   <div class="search-container">
    <ng-select class="status" name="searchqf" bindLabel="name" bindValue="id" [(ngModel)]="searchqf" (change)="search()" [clearable]="false" [searchable]="false" (clear)="search()" [items]="[{id:'-3',name:'All'},{id:'1',name:'Approved'},{id:'0',name:'Pending Approval'},{id:'-1',name:'Rejected'}]" [dropdownPosition]="'auto'"  style="border: 1px solid #000000;">
    </ng-select>
    
    
    
    
    <input type="text" placeholder="Search Customers" [(ngModel)]="searchText" (input)="onSearch()">&nbsp;&nbsp;
    <button class="addbtn btn btn1 btn-sm btn-primary" (click)="openModal()">Add New Customer</button>  </div><br>
    <ngx-datatable #table 
    class="data-table"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="55"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [scrollbarH]="true"
    [count]="page.count"
    [offset]="page.offset"
    [limit]="page.limit"
    [rows]="customers">
  <ngx-datatable-column name="Cust Id" [flexGrow]="0.5" [minWidth]="101">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Lead Id" [flexGrow]="0.5" [minWidth]="101">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.lead_ids}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name & Address" [flexGrow]="3" [minWidth]="531"> -->
    <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a><b>{{row.name}}</b></a> <br>
      {{row.address_line_1}}, {{row.address_line_2}}, {{row.address_line_3}}<br>
      {{row.city}}, {{row.state}}, {{row.pincode}}<br>
      <span *ngIf="row.pan">PAN: {{row.pan}}</span><br>
      <span *ngIf="row.gst">GST: {{row.gst}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="No. of PI" [flexGrow]="1" [minWidth]="203">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a *ngIf="row.count_quotation" target="_blank"><b>{{row.count_quotation}} PI</b></a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Added By" [flexGrow]="1" [minWidth]="203">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="row.user"> <!-- Check if 'user' is not null -->
        <!-- {{row.user?.name}}<br>
        {{row.user?.branch?.name}} - {{row.user?.region}}
      </span>
      <span *ngIf="!row.user">Unknown</span> <!-- Display 'Unknown' if 'user' is null -->
    <!-- </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status / Source" [flexGrow]="1" [minWidth]="203">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="row.approved==1" style="color:green;font-weight:bold">Approved</span>
              <span *ngIf="row.approved=='-1'" style="color:purple;font-weight:bold">Rejected</span>
              <span   *ngIf="row.approved=='0'" style="color:black">Pending Approval</span> --> --> -->
              <!-- <br>
      
     <span   *ngIf="row.src=='app'" style="color:black">PALM</span>
     <span   *ngIf="row.src=='web'" style="color:black">PLUS</span>
     <span   *ngIf="row.src=='Whatsapp'" style="color:black">Whatsapp</span>
     <span   *ngIf="row.src=='D2C'" style="color:black">D2C</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Action" [flexGrow]="1" [minWidth]="203">
  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
    <div class="row"><div class="col-4">
        <span *ngIf="row.approved==0" title="Pending">
            <i  class=" ti-time"></i>

          </span>

          <span *ngIf="row.approved==-1" title="Rejected" style="color:red">
              <i  class=" ti-na"></i>

            </span>

        <span *ngIf="row.approved==1" style="color:green"  title="Approved">
          <i  class=" ti-check"></i>

        </span>

    </div>
      <div class="col-2" *ngIf="authService.checkPermission(43) || (row.approved==0 && row.user_id==currentUser.id)">
          <a  style="color: #6B05F9">
            <i class="ti-pencil"></i><!-- model.approved=row.approved;-->
          <!-- </a>
      </div> --> -->
     <!--  <div class="col-2">
          <a style="color: red" (click)="openSuccessCancelSwal()">
            <i class="ti-trash"></i>
          </a>
        </div> -->
    <!-- </div>
    <div *ngIf="authService.checkPermission(43) && row.approved==0"> <hr>
      <button   class="button btn-primary  btn-xl">Review</button>
    </div>
    <div *ngIf="authService.checkPermission(2) && row.approved==1"> <hr>
      <button   class="button btn-primary  btn-xl">Create PI</button>
    </div>
  </ng-template>
 </ngx-datatable-column>
 </ngx-datatable>

 <div *ngIf="authService.checkPermission(42)">
  <h3>Customer Groups</h3>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="form-group d-flex align-items-center">
          <div class="col-3"></div>
          <div class="col-6">
            <input type="text" id="searchInput" class="form-control input-sm" placeholder="Search Group">
          </div>
          <div class="col-3">
            <button class="btn btn1 btn-sm btn-primary">Add Group</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <ngx-datatable *ngIf="customergroups && !loading"
  #table2
 class="data-table"
 [columnMode]="'flex'"
 [headerHeight]="50"
 [footerHeight]="50"
 [rowHeight]="'auto'"
 [count]="10"
 [scrollbarH]="true"
 [limit]="10"
  [rows]='tabrowscg'  >
  <ngx-datatable-column name="Id" [flexGrow]="0.5" [minWidth]="165">
    <ng-template let-row=row let-value="value" ngx-datatable-cell-template>
      {{row.id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" [flexGrow]="2" [minWidth]="662" >
      <ng-template let-row=row let-value="value" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Customers" [flexGrow]="1" [minWidth]="331">
        <ng-template let-row=row let-value="value" ngx-datatable-cell-template>
          {{row.count_customer}} Customers
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Action" [flexGrow]="0.5" [minWidth]="165">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="row"><div class="col-4">


            </div>
              <div class="col-2">
                  <a style="color: #6B05F9">
                    <i class="ti-pencil"></i>
                  </a>
              </div>
              </div>

              </ng-template>
              </ngx-datatable-column>


  </ngx-datatable>

 </div>
 </div> -->


  <!-- <div class="modal-container" *ngIf="isOpen"> -->
  <!-- <app-modal-animation [modalID]="'modaladdeditcustomer'">
    <div class="app-modal-header">
      <h4 class="modal-title"><span *ngIf="model.id">Edit '{{model.name}}'</span><span *ngIf="!model.id"> Add New Customer</span></h4> -->
     <!--  <p>By Default ,  Customer Will be added as Nonapproved, PI's can only be created when Customer Details get Verified by Admin.</p>
      <button type="button" class="close basic-close" (click)="commonService.hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span style="color:red" *ngIf="!authService.checkPermission(43)">Note : You dont have access to change customer info once added. <br>
      This Customer will show up in Creating PI after approval from Admin, You will be notified.</span>-->
    <!-- </div>
    <div class="app-modal-body" class="src">
      <div class="row">
        <div class="col-sm-12 mobile-inputs">
          <form ngNativeValidate (submit)="addEditCustomer()"> -->

              <!-- <div class="form-group row">
                  <div class="col-sm-6">
                    Name : <span style="color:red">*</span>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" [(ngModel)]="model.name" required>

                    </div>

                   <div class="col-sm-6">
                      Franchise / Brand :
                      <input type="text" class="form-control " name="franchise" placeholder="Enter Franchise/Brand" [(ngModel)]="model.franchise">

                    </div>


              </div>

              <div class="form-group row"  >

                <div class="col-sm-6">
                  Parent Group :
                  <ng-select name=customergroup_id [(ngModel)]="model.customergroup_id" [items]="customergroups" bindLabel=name bindValue=id placeholder="Select Customer Group"></ng-select>

                  <span *ngIf="model.customergroup_id==1"> <br>
                    Please Specify :
                    <input type="text" class="form-control " name="cgsuggest" placeholder="Please Suggest Group" [(ngModel)]="model.cgsuggest">

                  </span>
                </div>

                  <div class="col-sm-6" *ngIf="authService.checkPermission(43)">
                      <b>Approved ?</b>
                  <ng-select placeholder="Select Approval Status" name=approved bindLabel=name bindValue=id [(ngModel)]=model.approved [items]="[{id:'1',name:'Approved'},{id:'0',name:'Pending Approval'},{id:'-1',name:'Rejected'}]">

                  </ng-select>

                  <span *ngIf="model.approved==-1"> <br>
                    Please Specify Reason:
                    <input required type="text" class="form-control " name="approvalremark" placeholder="Remark" [(ngModel)]="model.approvalremark">

                  </span> -->

                    <!-- </div>

              </div>



              <div class="form-group row">
                   <div class="col-sm-6" >

                      Address Line 1 : <span style="color:red">*</span>
                      <input type="text" class="form-control " name="address_line_1" placeholder="Address Line 1" [(ngModel)]="model.address_line_1" required minlength="3" maxlength="300">


                   </div>

                   <div class="col-sm-6">
                      Address Line 2 : <span style="color:red">*</span>
                      <input type="text" class="form-control " name="address_line_2" placeholder="Address Line 2" [(ngModel)]="model.address_line_2" required minlength="3" maxlength="300">

                   </div>
              </div>



              <div class="form-group row">
                  <div class="col-sm-6">
                      Town / Locality : <span style="color:red">*</span>
                    <input required type="text" class="form-control " name="address_line_3" placeholder="Address Line 3" [(ngModel)]="model.address_line_3" minlength="3" maxlength="300">

                   </div>
                   <div class="col-sm-6">
                      Pincode : <span style="color:red">*</span> -->
                      <!-- (change)="getPincodeinfo()"-->
                      <!-- <input type="number"  class="form-control " name="pincode" placeholder="Enter Pincode" [(ngModel)]="model.pincode" required min="0" >


                   </div>
              </div>

              <div class="form-group row">

                  <div class="col-sm-6" *ngIf=states>
                    State : <span style="color:red">*</span> -->
                     <!--  <input placeholder = "State" class="form-control  " disabled [(ngModel)]="selectedCustomer.state" name="state" required>
                  -->
                  <!-- <ng-select placeholder="Select State" name="state" (change)="cities = [];model.city='';" required bindLabel="state" bindValue="state" [items]="states" [(ngModel)]="model.state" >
                  </ng-select>
                   </div>


                    <div class="col-sm-6">
                        City : <span style="color:red">*</span> -->
                       <!-- <input type="text" id="autocomplete" class="form-control " name="city" autocorrect="off" placeholder="City" [(ngModel)]="selectedCustomer.city"   required>
                    -->

                    <!-- <ng-select  name=city  bindLabel="name"  bindValue="name"  [items]="cities"
                    [loading]="cityLoading"
                    
                    placeholder="Search Existing City"
                    [(ngModel)]="model.city" required >
                                  </ng-select>

                     </div>

                </div>




              <div class="form-group row">
                  <div class="col-sm-6">
                      Country : <span style="color:red">*</span>
                      <input type="text" class="form-control " name="Country" placeholder="Enter Country" [(ngModel)]="model.country" required>

                    </div>

                  <div class="col-sm-6">
                    SEZ Unit :
                    <ng-select placeholder="Select SEZ Status" name=SEZ  [(ngModel)]=model.sez [items]="['NO','LUT','IGST']">

                    </ng-select>

                  </div>

              </div>


              <div class="form-group row">
                <div class="col-sm-6">
                   PAN : <span style="color:red">*</span> -->
                   <!-- <input required type="text" maxlength="10" class="form-control" name="pan" placeholder="Enter PAN"
                         [(ngModel)]="model.pan" (change)="field_validate($event,'pan',model.pan);"> -->
                 <!-- <input required type="text" maxlength="10" class="form-control" name="pan" placeholder="Enter PAN"
                         [(ngModel)]="model.pan">
                  <p style="padding: 5px; margin-top: 7px;" class="btn btn-primary" 
                      >
                     Verify PAN
                  </p>
                  <br>
                  
                 <div style="color:green" > <i *ngIf="isPanVerified" class="ti-check">verified </i></div>
                  <br>                 
              

                  GST : -->
                  <!-- <input [required]="model.sez=='IGST'"  maxlength="15" type="text" class="form-control" name="gst" placeholder="Enter GST"
                         [(ngModel)]="model.gst" (change)="field_validate($event,'gst',model.gst);" > -->
                         <br>
                  <!-- <input [required]="model.sez=='IGST'"  maxlength="15" type="text" class="form-control" name="gst" placeholder="Enter GST"
                         [(ngModel)]="model.gst"  >
                         <br>
                         
                      
                  <p style="padding: 5px; margin-top: 7px;" class="btn btn-primary" *ngIf="model.gst && !isGSTVerified">
                    Verify GST
                  </p>
                       <!--<i *ngIf="isGSTVerified" class=" ti-check">verified</i>
                      <p><strong>Legal Name of Business:</strong> {{ response?.legal_name_of_business }}</p> -->
                      <!-- <div  *ngIf="isGSTVerified">
                        <span style="color:green"><i  class="ti-check">verified</i></span>
                                               
                      </div>
              </div>

              <div class="col-sm-6">
                TAN :
                <input type="text" class="form-control" name="tan" placeholder="TAN" [(ngModel)]="model.tan">
              </div>

              
                
              </div>
              

              <hr>
              Customer Contact Details :
              <hr> -->
              <!-- <div class="form-group row">

                   <div class="col-sm-6">
                     Contact Person : <span style="color:red">*</span>
                    <input type="text" class="form-control " name="contact_person" placeholder="Contact Person" [(ngModel)]="model.contact_person" required>
                   </div>
                   <div class="col-sm-6">
                    Contact Person Designation : <span style="color:red">*</span>
                   <input type="text" class="form-control " name="contact_designation" placeholder="Contact Person Designation" [(ngModel)]="model.contact_designation" required>
                  </div>  -->
              <!-- </div>
              <div class="form-group row">
                  <div class="col-sm-6">
                    Contact Email : <span style="color:red">*</span>
                      <input type="email" class="form-control " name="contact_email" placeholder="Contact Email" [(ngModel)]="model.contact_email" required>
                   </div>
                   <div class="col-sm-6">
                     Contact Mobile :  <span style="color:red">*</span>
                    <input  type="text" class="form-control " name="contact_no" placeholder="Contact No" [(ngModel)]="model.contact_no" required>
                   </div>
              </div> -->





            <!-- <div class="app-modal-footer f-right">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                      <button type="button" class="btn btn-secondary f-right" (click)="closeModal()">Cancel</button>
                                        </div> -->

                    <!-- <div class="col-8">
                        <button type="submit" class="btn btn-primary waves-effect  f-left" > <span *ngIf="model.id">Save <span  *ngIf="model.approved==1">& Approve</span> Changes</span><span *ngIf="!model.id"> Add Customer</span> </button>
                    </div> -->
                    <!-- <div class="col-6">
                      <button type="submit" class="btn btn-primary waves-effect f-left" >
                        <span *ngIf="model.id">Save <span *ngIf="model.approved==1">& Approve</span> Changes</span>
                        <span *ngIf="!model.id">Add Customer</span>
                    </button> -->
                      <!-- <p style="padding: 5px; margin-top: 7px; color:red;" 
                      *ngIf="showVerifyButton && ((model.approved!=1 && model.src!= 'Whatsapp') || model.src== 'Whatsapp' || !isPanVerified)">
                      Please enter valid PAN and verify it.
                   </p> -->
                  <!-- </div> -->
                  
                  <!-- </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </app-modal-animation > -->
<!-- </div> -->
